doctype html
html(lang='en')
  head
    title Doctor Officetyle
    style
      include ../styles/style.css
  body
    h1 Doctor Office
    br
    div
      nav 
        a(href='/') Home 
        a(href='/patients') Patient list 

        a(href='/doctors') Doctor list
    br
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, quis enim aperiam praesentium magnam voluptates non iusto inventore. Culpa tempora temporibus a iste, ipsum consequatur!
    br
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi ad soluta blanditiis laborum, consectetur optio id cum itaque dolorum nesciunt eum dolore veniam distinctio praesentium tenetur! Quo, veritatis ab.
    br
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod dicta, neque nobis dolor enim obcaecati? Ipsum ut eveniet distinctio ad, nobis maiores ea, aperiam, optio consectetur voluptate quisquam? Laboriosam, esse quia molestias illum aliquid dolorem dolor alias nemo ipsum tenetur, recusandae nostrum reprehenderit, ratione consectetur.