doctype html
html(lang='en')
    head
        title Patient List
        link(rel='stylesheet', href='./patient1.css')
    body
        h1 Doctor Office
        br
        div
        nav 
            a(href='/' class="nav") Home 
            a(href='/patients' class="nav") Patient list 

            a(href='/doctors' class="nav") Doctor list
        br
        h3 Patient List
            ul
                each patient in patients
                        | id: #{patient.id}
                        br
                        | Name: #{patient.name}
                        br
                        | DOB: #{patient.DOB}
                        br
                        | Email: #{patient.email}
                        br
                        br