doctype html
html(lang='en')
    head
        title Patient List
        link(rel='stylesheet', href='./patients.css')
    body
        h1 Doctor Office
        br
        div
        nav 
            a(href='/' class="nav") Home 
            a(href='/patients' class="nav") Patient list 

            a(href='/doctors' class="nav") Doctor list
            
        br
        h3 Patient List
            ul
                each patient in patients
                        | id: #{patient.id}
                        br
                        a(href='/patient1') Name: #{patient.name}
                        br
                        | DOB: #{patient.DOB}
                        br
                        | Email: #{patient.email}
                        br
                        br
                        form(action='/patients/update', method='post', id='updatePatient')
                            input(type="hidden", name="_method", value="PATCH")
                            br
                            input(type="text", name='name', placeholder='Name')
                            br
                            input(type="text", name='DOB', placeholder='DOB')
                            br
                            input(type="text", name='email', placeholder='email')
                            br
                            input(type="submit", value='Update Patient')

            form(action='/patients', method='post',  id='patientsPost')
                br
                input(type="text", name='name', placeholder='Name')
                br
                input(type="text", name='DOB', placeholder='Date Of Birth')
                br
                input(type="text", name='email', placeholder='email')
                br
                input(type="submit")

            form(action='/patients', method='delete',  id='patientsDelete')
                br
                input(type="text", name='name', placeholder='Name')
                br
                input(type="text", name='DOB', placeholder='Date Of Birth')
                br
                input(type="text", name='email', placeholder='email')
                br
                input(type="submit", value='Delete')