doctype html
html(lang='en')
    head
        title Doctor Officetyle
        link(rel='stylesheet', href='./style.css')

    body
        h1 Doctor Office
        br
        div
          nav 
            a(href='/' class="nav") Home 
            a(href='/patients' class="nav") Patient list 

            a(href='/doctors' class="nav") Doctor list
            
      